//====================================================================================================
.header {
	margin-top: 22px;

	@media (max-width:$mobile) {
		margin-top: 10px;
	}

	&__container {}

	&__row {
		background: #FFFFFF;
		box-shadow: 0px 4px 10px rgba(16, 147, 165, 0.4);
		border-radius: 20px;
		padding: 20px 50px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media (max-width:$mobile) {
			padding: 15px;
		}
	}

	&__logo {
		img {
			max-width: 128px;

			@media (max-width:$mobile) {
				width: 100px;
			}
		}
	}

	&__contact {
		display: flex;
		flex-direction: column;

		@media (max-width: em(1100)) {
			display: none;
		}

		@media (max-width:$tablet) {
			display: block;
		}
	}

	&__contact-link {
		font-weight: 700;
		@include adaptiveValue("font-size", 24, 18);
		color: #1093A5;
		transition: all 0.3s ease 0s;

		@media (max-width:$tablet) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&:not(:last-child) {
			margin-bottom: 12px;
		}

		&:hover {
			opacity: 0.8;
		}
	}
}

.menu {
	z-index: 5;

	&__body {

		@media (max-width:$tablet) {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 108px;
			left: -100%;
			overflow: auto;
			background: rgba(255, 255, 255, 1);
			box-shadow: none;
			padding: 30px 20px;
			z-index: 4;
			transition: all 0.3s ease 0s;

			.menu-open & {
				left: 0;
			}

			&::before {
				content: '';
				position: absolute;
				position: fixed;
				height: 70px;
				width: 100%;
				top: 0px;
				left: 0;
				z-index: 50;
			}
		}
	}

	&__list {
		display: flex;

		@media (max-width:$tablet) {
			display: flex;
			flex-direction: column;
			text-align: center;
		}
	}

	&__item {
		font-weight: 600;
		transition: all 0.3s ease 0s;
		@include adaptiveValue("margin-right", 40, 15);

		&:last-child {
			margin-right: 0;
		}

		@media (max-width:$tablet) {
			margin-right: 0;
			font-size: 20px;
		}

		&:hover {
			opacity: 0.9;
		}

		@media (max-width:$tablet) {
			&:not(:last-child) {
				margin-bottom: 20px;
			}

			&:last-child {
				margin-bottom: 30px;
			}
		}
	}

	&__link {}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;

	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;

		@media (any-hover: none) {
			cursor: default;
		}

		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #1093A5;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		span {
			top: calc(50% - rem(1));
		}

		.menu-open & {
			span {
				width: 0;
			}

			&::before,
			&::after {}

			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}

			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}