//====================================================================================================
.main {
	margin-top: -140px;
	position: relative;
	@include adaptiveValue("padding-top", 280, 180);
	@include adaptiveValue("padding-bottom", 390, 50);

	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: url(../img/bg-main.jpg) center center/cover no-repeat;
		z-index: -1;

		@media (max-width:$mobile) {
			opacity: 0.2;
		}
	}

	&__container {}

	&__title {

		font-weight: 700;
		@include adaptiveValue("font-size", 48, 30);
		line-height: math.div(48, 45);
		margin-bottom: 24px;
		max-width: 990px;

		span {
			color: #1093A5;
		}
	}

	&__subtitle {
		font-weight: 700;
		@include adaptiveValue("font-size", 24, 18);
		line-height: math.div(29, 24);
		margin-bottom: 24px;
	}

	&__btn-btn {
		display: inline-block;
		text-align: center;
		background: linear-gradient(90deg, #04607A 0%, #22B7CC 65.79%);
		box-shadow: 0px 4px 20px #60D3E2;
		border-radius: 20px;
		padding: 25px 37px;
		font-weight: 800;
		@include adaptiveValue("font-size", 24, 16);
		color: #FFFFFF;

		@media (max-width:$mobile) {
			padding: 20px;
			display: block;
		}
	}
}

// start ====================================================================================================
.start {
	margin-top: -90px;
	@include adaptiveValue("margin-bottom", 100, 40);

	@media (max-width:$mobile) {
		margin-top: 0px;
	}

	&__container {}

	&__row {
		display: grid;
		grid-template-columns: repeat(auto-fill, 330px);
		justify-content: space-between;
		gap: 30px;
		flex-wrap: wrap;

		@media (max-width:$mobile) {
			justify-content: center;
			grid-template-columns: 1fr;
			gap: 20px;
		}
	}

	&__item {
		background: #FFFFFF;
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
		border-radius: 20px;
		padding: 26px;
	}

	&__item-box {
		display: flex;
		align-items: center;
		margin-bottom: 18px;

		img {
			width: 70px;
			height: 70px;
			margin-right: 15px;
		}
	}

	&__item-box-title {
		font-weight: 700;
		@include adaptiveValue("font-size", 18, 16);
		line-height: math.div(20, 20);
		margin-top: 8px;
	}

	&__item-text {
		font-weight: 600;
		font-size: 14px;
		line-height: math.div(18, 15);
	}
}

// way ========================================================================================================================================================
.way {
	@include adaptiveValue("margin-bottom", 100, 40);

	&__content {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include adaptiveValue("margin-bottom", 50, 25);
	}

	&__title {


		span {
			color: $blColor;
		}
	}

	&__slider {
		position: relative;
		height: 400px;
	}

	&__btn {
		content: '';
		position: absolute;
		height: 0%;
		top: 50%;
		right: 0;
		transform: translate(0, -17px);

		@media (max-width: em(630)) {
			display: none;
		}
	}

	&__slide {
		position: relative;
		color: #fff;
		padding: 60px;

		&-bg {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: -1;
			object-fit: cover;
			border-radius: 20px;
		}

		&::before {
			content: '';
			position: absolute;
			width: 64px;
			height: 48px;
			bottom: 50px;
			left: 60px;
			background: url(../img/icon/plus.svg) center center no-repeat;

			@media (max-width:$mobile) {
				display: none;
			}
		}

		@media (max-width:$mobile) {
			padding: 25px;
		}

	}

	&__slide-title {
		font-weight: 700;
		@include adaptiveValue("font-size", 48, 26);
		line-height: math.div(59, 48);
		@include adaptiveValue("margin-bottom", 40, 20);
	}

	&__slide-text {
		font-weight: 500;
		@include adaptiveValue("font-size", 22, 16);
		line-height: math.div(29, 24);

		@media (max-width:$mobile) {
			font-weight: 400;
		}
	}
}

// doctor ========================================================================================================================================================

.doctor {
	@include adaptiveValue("margin-bottom", 100, 40);

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 30px;
		flex-wrap: wrap;
	}

	&__left {
		flex: 0 1 50%;

		@media (max-width: em(1127)) {
			flex: 1 1 auto;
		}
	}

	&__left-title {
		font-weight: 700;
		@include adaptiveValue("font-size", 48, 30);
		line-height: math.div(59, 48);
		@include adaptiveValue("margin-bottom", 24, 15);

		span {
			color: #1093A5;
		}
	}

	&__left-name {
		font-weight: 700;
		@include adaptiveValue("font-size", 24, 20);
		line-height: math.div(29, 24);
		@include adaptiveValue("margin-bottom", 24, 15);
	}

	&__left-prof {
		font-weight: 700;
		@include adaptiveValue("font-size", 20, 18);
		line-height: math.div(24, 20);
		@include adaptiveValue("margin-bottom", 24, 15);
		color: #4F4F4F;
	}

	&__left-item {}

	&__left-list {
		li {
			position: relative;
			font-weight: 600;
			@include adaptiveValue("font-size", 16, 14);
			line-height: 20px;
			padding-left: 30px;

			&::before {
				content: '';
				position: absolute;
				width: 20px;
				height: 20px;
				background-color: $blColor;
				top: 0%;
				border-radius: 50%;
				left: 0;
			}

			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
	}

	&__right {
		width: 570px;
		margin: auto;

		img {
			width: 100%;
			height: 100%;
			border-radius: 20px;
		}
	}
}

// spec ========================================================================================================================================================
.spec {
	margin-bottom: 120px;

	&__content {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include adaptiveValue("margin-bottom", 50, 25);
	}

	&__title {}

	&__slider {
		position: relative;
	}

	&__wrapper {
		position: relative;
	}

	&__slide {
		position: relative;
	}

	&__slide-content {
		background: #FFFFFF;
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
		border-radius: 20px;
		padding: 20px 30px;
		display: flex;
		align-items: center;

		@media (max-width:$mobile) {
			flex-direction: column;
		}

		img {
			width: 171px;
			border-radius: 10px;
			margin-right: 18px;

			@media (max-width:$mobile) {
				margin-right: 0;
				margin-bottom: 15px;
			}
		}
	}

	&__slide-box {}

	&__slide-box-name {
		font-weight: 700;
		@include adaptiveValue("font-size", 20, 18);
		line-height: math.div(24, 20);
		margin-bottom: 8px;

		@media (max-width:$mobile) {
			text-align: center;
		}
	}

	&__slide-box-prof {
		font-weight: 600;
		font-size: 16px;
		line-height: math.div(20, 16);
		color: #828282;
		margin-bottom: 8px;

		@media (max-width:$mobile) {
			text-align: center;
		}
	}

	&__slide-box-text {
		font-weight: 600;
		@include adaptiveValue("font-size", 16, 14);
		line-height: math.div(20, 16);

		@media (max-width:$mobile) {
			text-align: center;
		}
	}
}

// terms ========================================================================================================================================================
.terms {
	@include adaptiveValue("margin-bottom", 100, 40);

	@media (max-width:$mobile) {
		margin-top: 50px;
	}

	&__row {
		padding: 50px 0;
		border-radius: 50%;
		position: relative;

		@media (max-width:$mobile) {
			padding: 30px 0;
		}

		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: url(../img/terms-bg.jpg) center center/cover no-repeat;
			border-radius: 50px;
			z-index: -1;

			@media (max-width:$mobile) {
				opacity: 0.8;
			}
		}
	}

	&__title {
		text-align: center;
		font-weight: 700;
		@include adaptiveValue("font-size", 48, 28);
		line-height: math.div(59, 48);
		@include adaptiveValue("margin-bottom", 28, 15);
	}

	&__text {
		width: 811px;
		background: rgba(255, 255, 255, 0.54);
		border-radius: 0px 20px 20px 0px;
		padding: 24px 24px 24px 80px;
		@include adaptiveValue("margin-bottom", 28, 15);
		@include adaptiveValue("font-size", 16, 14);

		@media (max-width:$mobile) {
			width: 95%;
			padding: 20px;
		}

		p {
			font-weight: 600;
			font-size: 16px;
			line-height: math.div(20, 16);

			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}

	&__box {
		width: 506px;
		background: #04607A;
		box-shadow: 0px 6px 20px rgba(87, 205, 221, 0.65);
		border-radius: 0px 20px 20px 0px;
		padding: 24px 24px 24px 80px;
		color: #fff;

		@media (max-width:$mobile) {
			width: 95%;
			padding: 20px;
			margin-bottom: 30px;
		}
	}

	&__box-text {
		font-weight: 600;
		line-height: math.div(20, 16);
		margin-bottom: 13px;
		@include adaptiveValue("font-size", 16, 14);
	}

	&__box-link {
		transition: all 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				opacity: 0.8;
			}
		}
	}

	&__box-item {
		display: flex;
		align-items: center;
		font-weight: 700;
		font-size: 24px;
		line-height: 29px;
		@include adaptiveValue("font-size", 24, 18);

		&:not(:last-child) {
			margin-bottom: 15px;
		}

		img {
			margin-right: 12px;
		}
	}
}

// advanced ========================================================================================================================================================
.advanced {
	@include adaptiveValue("margin-bottom", 100, 40);

	&__container {}

	&__title {
		@include adaptiveValue("margin-bottom", 50, 30);
	}

	&__row {
		display: grid;
		grid-template-columns: repeat(auto-fill, 450px);
		justify-content: space-between;
		row-gap: 30px;
		flex-wrap: wrap;

		@media (max-width:$tablet) {
			grid-template-columns: repeat(2, 1fr);
			column-gap: 30px;
		}

		@media (max-width:$mobile) {
			grid-template-columns: 1fr;
			column-gap: 30px;
		}
	}

	&__card {
		background: #FFFFFF;
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
		border-radius: 20px;
		padding: 24px 36px;

		@media (max-width:$mobile) {
			padding: 20px;
		}

		img {
			max-width: 73px;
			margin-bottom: 16px;

			@media (max-width:$mobile) {
				width: 50px;
			}
		}

		&-title {
			font-weight: 700;
			@include adaptiveValue("font-size", 20, 18);
			line-height: math.div(24, 20);
			margin-bottom: 16px;
		}
	}

	&__text {
		font-weight: 600;
		@include adaptiveValue("font-size", 16, 14);
		line-height: math.div(20, 16);
		color: #828282;
	}
}

// about ========================================================================================================================================================
.about {
	@include adaptiveValue("margin-bottom", 100, 40);

	&__row {
		display: flex;
		justify-content: space-between;
		// column-gap: 20px;
		align-items: center;
		flex-wrap: wrap;

		@media (max-width:$tablet) {}
	}

	&__title {
		margin-bottom: 15px;
	}

	&__left {
		flex: 0 1 55%;

		@media (max-width:$tablet) {
			flex: 1 1 auto;
		}

		p {
			font-weight: 600;
			@include adaptiveValue("font-size", 16, 14);
			line-height: math.div(20, 16);
			@include adaptiveValue("margin-bottom", 24, 15);
		}
	}

	&__left-subtitle {
		font-weight: 700;
		line-height: math.div(20, 16);
		margin-bottom: 15px;
		color: $blColor;
	}

	&__right {
		flex: 0 1 40%;

		@media (max-width:$tablet) {
			flex: 1 1 auto;
		}

		img {
			border-radius: 20px;
			max-width: 100%;
		}
	}
}

// step ========================================================================================================================================================
.step {
	@include adaptiveValue("margin-bottom", 100, 40);

	&__title {
		@include adaptiveValue("margin-bottom", 50, 30);
	}

	&__row {
		display: grid;
		grid-template-columns: repeat(auto-fill, 330px);
		justify-content: space-between;
		gap: 30px;

		@media (max-width:$mobile) {
			justify-content: center;
			grid-template-columns: 1fr;
			gap: 20px;
		}
	}

	&__card {
		position: relative;
		background: #FFFFFF;
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
		border-radius: 20px;
		padding: 35px;
		transition: all 0.3s ease 0s;

		@media (max-width:$mobile) {
			padding: 25px;
		}

		@media (any-hover: hover) {
			&:hover {
				transform: translateY(-10px);
			}
		}

		&::before {
			content: '';
			position: absolute;
			width: 64px;
			height: 50px;
			top: 10px;
			right: 10px;
			background: url(../img/icon/plus-step.svg) center center no-repeat;
		}
	}

	&__card-title {
		font-weight: 700;
		@include adaptiveValue("font-size", 48, 40);
		line-height: math.div(59, 48);
		margin-bottom: 11px;
		color: $blColor;
	}

	&__card-text {
		font-weight: 600;
		@include adaptiveValue("font-size", 16, 14);
		line-height: math.div(20, 16);
	}
}

// guarant ========================================================================================================================================================

.guarant {
	@include adaptiveValue("margin-bottom", 100, 40);

	&__container {
		background: #04607A;
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
		border-radius: 20px;
	}

	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: #fff;
		// flex-wrap: wrap;
	}

	&__content {
		@include adaptiveValue("margin-left", 145, 20);

		@media (max-width:$tablet) {
			padding: 20px;
			margin-left: 0;
		}
	}

	&__title {
		font-weight: 700;
		@include adaptiveValue("font-size", 48, 28);
		line-height: math.div(59, 48);
		@include adaptiveValue("margin-bottom", 28, 18);
	}

	&__text {
		font-weight: 600;
		line-height: math.div(20, 16);
		@include adaptiveValue("margin-bottom", 28, 16);
	}

	&__btn {
		display: inline-block;
		background: #1093A5;
		box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.27);
		border-radius: 20px;
		padding: 25px 75px;
		font-weight: 800;
		@include adaptiveValue("font-size", 24, 18);
		transition: all 0.3s ease 0s;

		@media (max-width:$mobile) {
			display: block;
			text-align: center;
		}

		&:hover {
			opacity: 0.8;
		}
	}

	&__bg {
		position: relative;

		@media (max-width:$tablet) {
			display: none;
		}

		&-img {
			margin-top: -25px;
			margin-right: 50px;


		}


	}
}